@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #10121d;
}

::-webkit-scrollbar-track:hover {
  cursor: default;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 4px solid rgba(22, 22, 22, 0);
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  background-color: #273550;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  background-color: #1b1f31;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  /* Show scroll */
}
body .gradient-sct-top {
  background: linear-gradient(to bottom, #1b1f31, #161927);
  height: 150px;
  width: 100%;
}
body .gradient-sct-bottom {
  background: linear-gradient(to top, #1b1f31, #161927);
  height: 150px;
  width: 100%;
}
body .nav-menu {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #1b1f31;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
}
body .nav-menu.hide {
  display: none;
  transform: translateX(-100%);
  transition: 1s ease;
}
body .nav-menu .gradient-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #415e97, #7894cd);
}
body .nav-menu .back-nav-menu {
  font-size: 1.8rem;
  color: #415e97;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
body .nav-menu img {
  width: 35%;
  height: auto;
  margin: 0 auto;
}
body .nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  align-items: center;
  margin: 40px 0 20px 0;
}
body .nav-menu ul li {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161927;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
body .nav-menu ul li i {
  font-size: 1.5rem;
  font-weight: 600;
}
body .nav-menu ul li a {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
}
body .nav-menu ul li:hover .line-top-right-nav,
body .nav-menu ul li:hover .line-bottom-left-nav {
  display: initial;
  transition: 0.3s ease;
}
body .nav-menu ul li .line-top-right-nav {
  position: absolute;
  background-color: transparent !important;
  top: 0px;
  right: 0px;
  width: 10%;
  height: 50%;
  border-top: 4px solid #415e97;
  border-right: 4px solid #415e97;
  border-radius: 0 10px 0 0;
  display: none;
  transition: 0.3s ease;
}
body .nav-menu ul li .line-top-right-nav.active {
  display: initial;
  border-top: 4px solid #415e97;
  border-right: 4px solid #415e97;
}
body .nav-menu ul li .line-bottom-left-nav {
  position: absolute;
  background-color: transparent !important;
  bottom: 0px;
  left: 0px;
  width: 10%;
  height: 50%;
  border-bottom: 4px solid #415e97;
  border-left: 4px solid #415e97;
  border-radius: 0 0 0 10px;
  display: none;
  transition: 0.3s ease;
}
body .nav-menu ul li .line-bottom-left-nav.active {
  display: initial;
  border-bottom: 4px solid #415e97;
  border-left: 4px solid #415e97;
}
body .nav-menu .theme-toggle-nav {
  margin: 0 auto;
}
body .nav-menu .theme-toggle-nav #checkbox-nav {
  display: none;
}
body .nav-menu .theme-toggle-nav .toggler-nav {
  display: block;
  width: 60px;
  height: 32px;
  border: 3px solid #415e97;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
body .nav-menu .theme-toggle-nav .ball-nav,
body .nav-menu .theme-toggle-nav .sun-nav,
body .nav-menu .theme-toggle-nav .moon-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body .nav-menu .theme-toggle-nav .ball-nav {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #415e97;
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
body .nav-menu .theme-toggle-nav i {
  font-size: 1.3rem;
  font-weight: 500;
  color: #415e97;
}
body .nav-menu .theme-toggle-nav .sun-nav {
  left: 5px;
}
body .nav-menu .theme-toggle-nav .moon-nav {
  right: 5px;
}
body .nav-menu .theme-toggle-nav #checkbox-nav:checked + .ball-nav {
  transform: translate(27px, -50%);
}
body .nav-menu h2 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
body .nav-menu h2 span {
  color: #415e97;
}
body nav {
  background-color: #1b1f31;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 100;
}
body nav .gradient-nav {
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #415e97, #7894cd);
}
body nav .nav {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
  padding: 15px;
  border-bottom: 1px solid #10121d;
}
body nav .nav i {
  font-size: 1.2rem;
}
@media screen and (max-width: 1024px) {
  body nav .nav {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  body nav .nav {
    display: flex;
    margin: 0 auto;
  }
}
body nav .nav img {
  height: 2rem;
  width: auto;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  body nav .nav img {
    margin-top: 0px;
    margin-left: 20px;
  }
}
body nav .hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  color: #415e97;
  cursor: pointer;
  padding: 0 15px;
}
body nav .hamburger i {
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  body nav .hamburger {
    display: flex;
  }
}
body nav ul {
  display: flex;
}
@media screen and (max-width: 768px) {
  body nav ul {
    position: fixed;
    text-align: center;
    margin-bottom: 30px;
    display: none;
  }
}
body nav ul li {
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
}
@media screen and (max-width: 768px) {
  body nav ul li {
    margin-top: 50px;
  }
}
body nav ul li a {
  padding: 0 15px;
  color: #ffffff;
}
body nav ul li a.active {
  color: #415e97;
}
@media screen and (max-width: 768px) {
  body nav ul li a {
    margin: 0 0;
  }
}
body nav ul li a:hover {
  color: #415e97;
}
body nav .theme-toggle {
  align-items: center;
}
@media screen and (max-width: 768px) {
  body nav .theme-toggle {
    display: none;
  }
}
body nav .theme-toggle #checkbox {
  display: none;
}
body nav .theme-toggle .toggler {
  display: block;
  width: 60px;
  height: 32px;
  border: 3px solid #415e97;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
body nav .theme-toggle .ball,
body nav .theme-toggle .sun,
body nav .theme-toggle .moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body nav .theme-toggle .ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #415e97;
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
body nav .theme-toggle i {
  font-size: 1.3rem;
  font-weight: 500;
  color: #415e97;
}
body nav .theme-toggle .sun {
  left: 5px;
}
body nav .theme-toggle .moon {
  right: 5px;
}
body nav .theme-toggle #checkbox:checked + .ball {
  transform: translate(27px, -50%);
}
body header {
  max-width: 1400px;
  height: auto;
  padding: 150px 30px 60px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  body header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  body header {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  body header {
    width: 95%;
  }
}
body header .title-header {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  body header .title-header {
    width: 100%;
    text-align: center;
  }
}
body header .title-header span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #415e97;
}
body header .title-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}
body header .title-header p {
  font-size: 1rem;
  font-weight: 500;
  color: #a4a4a4;
  margin-top: 10px;
}
body header .title-header .btn-header {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  body header .title-header .btn-header {
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
}
body header .title-header .btn-header .btn-header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border-radius: 10px;
  border: 2px solid #415e97;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  body header .title-header .btn-header .btn-header {
    margin-top: 0;
    padding: 15px 40px;
  }
  body header .title-header .btn-header .btn-header:nth-child(1) {
    margin-top: 60px;
  }
}
body header .title-header .btn-header .btn-header.project {
  background-color: #415e97;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0px 0px 10px #415e97;
}
body header .title-header .btn-header .btn-header.project:hover {
  filter: brightness(90%);
  transition: 0.3s ease;
}
body header .title-header .btn-header .btn-header.contact {
  background-color: transparent;
  color: #415e97;
  font-weight: 700;
}
body header .title-header .btn-header .btn-header.contact:hover {
  background-color: #415e97;
  filter: brightness(90%);
  color: #ffffff;
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px #415e97;
}
body header .img-header {
  width: 500px;
  height: auto;
}
body .sct-exp {
  width: 100%;
  margin: 0 auto;
  background-color: #161927;
}
body .sct-exp .container-sct-exp {
  width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
  padding: 60px 30px;
}
@media screen and (max-width: 1400px) {
  body .sct-exp .container-sct-exp {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  body .sct-exp .container-sct-exp {
    flex-direction: column;
  }
}
body .sct-exp .container-sct-exp .img-exp {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sct-exp .container-sct-exp .img-exp img {
  width: 80%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  body .sct-exp .container-sct-exp .img-exp {
    width: 0%;
  }
}
body .sct-exp .container-sct-exp .container-exp {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .sct-exp .container-sct-exp .container-exp .title-exp {
  width: 80%;
  padding-bottom: 30px;
  border-bottom: 1px solid #10121d;
}
body .sct-exp .container-sct-exp .container-exp .title-exp h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: -5px;
}
body .sct-exp .container-sct-exp .container-exp .title-exp span {
  font-size: 1rem;
  font-weight: 700;
  color: #415e97;
  text-transform: uppercase;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data {
  width: 100%;
  display: flex;
  gap: 20px;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .exp-data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .exp-data h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .exp-data p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .exp-data span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #a4a4a4;
  margin-top: 5px;
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .line-data {
  display: block;
  height: 100%;
  width: 4px;
  border-radius: 10px;
  background-color: #415e97;
  position: relative;
  /* Nécessaire pour positionner le ::after */
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .line-data::after {
  content: "";
  display: inline-flex;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #415e97;
  position: absolute;
  top: 50%;
  /* Par défaut, centre l'élément */
  left: 50%;
  /* Centre horizontalement */
  transform: translate(-50%, -50%);
  /* Centre avec précision */
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .line-data.last::after {
  top: 80%;
  /* Positionne en bas de la ligne */
  transform: translate(-50%, 50%);
  /* Ajuste pour décaler le cercle sous la ligne */
}
body .sct-exp .container-sct-exp .container-exp .container-content-exp .content-exp-data .line-data.first::after {
  top: -20%;
  /* Positionne en bas de la ligne */
  transform: translate(-50%, 50%);
  /* Ajuste pour décaler le cercle sous la ligne */
}
body .sct-skills {
  width: 100%;
  margin: 0 auto;
  background-color: #1b1f31;
}
body .sct-skills .container-sct-skills {
  width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
  padding: 60px 30px;
}
@media screen and (max-width: 1400px) {
  body .sct-skills .container-sct-skills {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  body .sct-skills .container-sct-skills {
    flex-direction: column-reverse;
  }
}
body .sct-skills .container-sct-skills .img-skills {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sct-skills .container-sct-skills .img-skills img {
  width: 80%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  body .sct-skills .container-sct-skills .img-skills {
    width: 60%;
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  body .sct-skills .container-sct-skills .img-skills {
    width: 100%;
  }
}
body .sct-skills .container-sct-skills .container-skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .sct-skills .container-sct-skills .container-skills .title-skills {
  width: 80%;
  padding-bottom: 30px;
  border-bottom: 1px solid #10121d;
}
body .sct-skills .container-sct-skills .container-skills .title-skills h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: -5px;
}
body .sct-skills .container-sct-skills .container-skills .title-skills span {
  font-size: 1rem;
  font-weight: 700;
  color: #415e97;
  text-transform: uppercase;
}
body .sct-skills .container-sct-skills .container-skills .content-skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 450px) {
  body .sct-skills .container-sct-skills .container-skills .content-skills {
    flex-direction: column;
  }
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: auto;
  background-color: #161927;
}
@media screen and (max-width: 520px) {
  body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills {
    min-width: 220px;
    width: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 450px) {
  body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills {
    width: 100%;
  }
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #a4a4a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills p .percent {
  font-size: 0.7rem;
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills .bar-skills {
  display: flex;
  background-color: #1b1f31;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  margin-top: 5px;
}
body .sct-skills .container-sct-skills .container-skills .content-skills .card-skills .bar-skills span {
  height: 100%;
  border-radius: 10px;
}
body .sct-project {
  width: 1400px;
  padding: 60px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
body .sct-project.padding-page {
  padding: 150px 30px 150px 30px;
}
@media screen and (max-width: 1400px) {
  body .sct-project {
    width: auto;
  }
}
body .sct-project .title-sct-project {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #10121d;
}
body .sct-project .title-sct-project h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
body .sct-project .title-sct-project span {
  font-size: 1rem;
  font-weight: 700;
  color: #415e97;
  margin-bottom: -5px;
  text-transform: uppercase;
}
body .sct-project .container-project {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
body .sct-project .container-project h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #383f5d;
  text-align: center;
}
body .sct-project .container-project h2.hide {
  display: none;
}
body .sct-project .container-project .card-project {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  background-color: #161927;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* Bordures spécifiques */
  /* Bordure en haut à droite */
}
body .sct-project .container-project .card-project:nth-child(1) .line-top-right,
body .sct-project .container-project .card-project:nth-child(1) .line-bottom-left,
body .sct-project .container-project .card-project:nth-child(1) .icon {
  border-color: #875fed;
  background-color: #875fed;
}
body .sct-project .container-project .card-project:nth-child(1) a {
  color: #875fed;
}
body .sct-project .container-project .card-project:nth-child(2) .line-top-right,
body .sct-project .container-project .card-project:nth-child(2) .line-bottom-left,
body .sct-project .container-project .card-project:nth-child(2) .icon {
  border-color: #ed5fb9;
  background-color: #ed5fb9;
}
body .sct-project .container-project .card-project:nth-child(2) a {
  color: #ed5fb9;
}
body .sct-project .container-project .card-project:nth-child(3) .line-top-right,
body .sct-project .container-project .card-project:nth-child(3) .line-bottom-left,
body .sct-project .container-project .card-project:nth-child(3) .icon {
  border-color: #57e465;
  background-color: #57e465;
}
body .sct-project .container-project .card-project:nth-child(3) a {
  color: #57e465;
}
body .sct-project .container-project .card-project:nth-child(4) .line-top-right,
body .sct-project .container-project .card-project:nth-child(4) .line-bottom-left,
body .sct-project .container-project .card-project:nth-child(4) .icon {
  border-color: #ffb52d;
  background-color: #ffb52d;
}
body .sct-project .container-project .card-project:nth-child(4) a {
  color: #ffb52d;
}
body .sct-project .container-project .card-project .line-top-right {
  position: absolute;
  background-color: transparent !important;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 30%;
  border-top: 4px solid #415e97;
  border-right: 4px solid #415e97;
  border-radius: 0 20px 0 0;
}
body .sct-project .container-project .card-project .line-bottom-left {
  position: absolute;
  background-color: transparent !important;
  bottom: 0px;
  left: 0px;
  width: 40%;
  height: 30%;
  border-bottom: 4px solid #415e97;
  border-left: 4px solid #415e97;
  border-radius: 0 0 0 20px;
}
body .sct-project .container-project .card-project .icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: #415e97;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
body .sct-project .container-project .card-project h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
body .sct-project .container-project .card-project p {
  font-size: 1rem;
  font-weight: 500;
  color: #a4a4a4;
  margin-top: -30px;
}
body .sct-project .container-project .card-project .btn-card-project {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #415e97;
  transition: 0.3s ease;
  cursor: pointer;
}
body .sct-project .container-project .card-project .btn-card-project:hover {
  transition: 0.3s ease;
  text-decoration: underline;
}
body .sct-project .container-project .card-project .btn-card-project span {
  font-size: 0.9rem;
  margin: auto 0;
  font-weight: 600;
}
body .sct-project .container-project .card-project .btn-card-project i {
  font-size: 1.5rem;
  margin: auto 0;
}
body .sct-aboutme {
  width: 1400px;
  padding: 60px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1400px) {
  body .sct-aboutme {
    width: 100%;
  }
}
body .sct-aboutme.padding-page {
  padding: 150px 30px 150px 30px;
}
body .sct-aboutme .title-sct-aboutme {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #10121d;
}
body .sct-aboutme .title-sct-aboutme h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
body .sct-aboutme .title-sct-aboutme span {
  font-size: 1rem;
  font-weight: 700;
  color: #415e97;
  margin-bottom: -5px;
  text-transform: uppercase;
}
body .sct-aboutme .container-aboutme {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  body .sct-aboutme .container-aboutme {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  body .sct-aboutme .container-aboutme {
    flex-direction: column;
  }
}
body .sct-aboutme .container-aboutme .content-left-aboutme {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  body .sct-aboutme .container-aboutme .content-left-aboutme {
    width: 40%;
  }
}
@media screen and (max-width: 870px) {
  body .sct-aboutme .container-aboutme .content-left-aboutme {
    justify-content: center;
    width: auto;
  }
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #161927;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
}
@media screen and (max-width: 1200px) {
  body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme {
    width: 300px;
  }
}
@media screen and (max-width: 870px) {
  body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme {
    width: auto;
  }
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme ul li {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 700;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme ul li span {
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-transform: initial;
  color: #ffffff;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme ul li span i {
  color: #57e465;
  font-size: 1rem;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme .view-cv {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #415e97;
  color: #ffffff;
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px #415e97;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme .view-cv i {
  font-size: 1.2rem;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme .view-cv:hover {
  transition: 0.3s ease;
  filter: brightness(90%);
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme .img-aboutme {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 4px;
  overflow: hidden;
  border: 3px solid #415e97;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme .img-aboutme img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .card-aboutme .content-infos-aboutme span {
  font-size: 0.85rem;
  font-weight: 700;
  color: #415e97;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-aboutme {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #161927;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-aboutme i {
  font-size: 1.5rem;
  color: #415e97;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-aboutme .left-content-card {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-aboutme .left-content-card h5 {
  font-size: 0.95rem;
  font-weight: 500;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #161927;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown i {
  font-size: 1.5rem;
  color: #415e97;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .top-dropdown {
  display: flex;
  justify-content: space-between;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .top-dropdown .left-content-card {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .top-dropdown .left-content-card h5 {
  font-size: 0.95rem;
  font-weight: 500;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .top-dropdown .btn-view-dropdown {
  cursor: pointer;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown {
  display: none;
  flex-direction: column;
  gap: 10px;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .line-dropdown {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #1b1f31;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown {
  display: flex;
  flex-direction: column;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown h5 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown h5 i {
  font-size: 0.95rem;
  color: #ffffff;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown .years {
  font-size: 0.85rem;
  font-weight: 500;
  color: #a4a4a4;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown .mention {
  font-size: 0.85rem;
  font-weight: 500;
  color: #7894cd;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown.img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown .item-dropdown.img img {
  height: 100%;
  width: auto;
}
body .sct-aboutme .container-aboutme .content-left-aboutme .container-buttons-aboutme .button-dropdown .content-dropdown.active {
  display: flex;
}
body .sct-aboutme .container-aboutme .biography {
  width: 100%;
}
@media screen and (max-width: 1346px) {
  body .sct-aboutme .container-aboutme .biography {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  body .sct-aboutme .container-aboutme .biography {
    width: 100%;
  }
}
body .sct-aboutme .container-aboutme .biography h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #7894cd;
  padding: 10px 0;
}
body .sct-aboutme .container-aboutme .biography .line {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #171a29;
  margin: 0 auto;
}
body .sct-aboutme .container-aboutme .biography p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 0 20px 0;
  text-align: justify;
}
body .sct-aboutme .container-aboutme .biography p i {
  font-size: 1.2rem;
  color: #415e97;
  padding: 0 5px;
}
body .bg-login {
  background: url("/assets/img/bg-login.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
body .bg-login .container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
body .bg-login .container-login .card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
}
body .bg-login .container-login .card-login h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
body .bg-login .container-login .card-login p {
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: 600;
  color: #a4a4a4;
}
body .bg-login .container-login .card-login .form-login {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
body .bg-login .container-login .card-login .form-login .id-login,
body .bg-login .container-login .card-login .form-login .password-login {
  display: flex;
}
body .bg-login .container-login .card-login .form-login .id-login input,
body .bg-login .container-login .card-login .form-login .password-login input {
  height: 50px;
  width: 250px;
  background-color: #7894cd;
  border-radius: 5px 0 0 5px;
  border: 2px solid transparent;
  padding: 20px;
  color: #414141;
  font-size: 0.9rem;
}
body .bg-login .container-login .card-login .form-login .id-login input::-moz-placeholder, body .bg-login .container-login .card-login .form-login .password-login input::-moz-placeholder {
  color: #414141;
}
body .bg-login .container-login .card-login .form-login .id-login input::placeholder,
body .bg-login .container-login .card-login .form-login .password-login input::placeholder {
  color: #414141;
}
body .bg-login .container-login .card-login .form-login .id-login input:focus,
body .bg-login .container-login .card-login .form-login .password-login input:focus {
  outline: #7894cd;
}
body .bg-login .container-login .card-login .form-login .id-login span,
body .bg-login .container-login .card-login .form-login .password-login span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: #415e97;
  border-radius: 0 5px 5px 0;
}
body .bg-login .container-login .card-login .form-login .id-login span i,
body .bg-login .container-login .card-login .form-login .password-login span i {
  font-size: 1.5rem;
  color: #414141;
}
body .bg-login .container-login .card-login .return-login {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #a4a4a4;
  border-bottom: 1px solid transparent;
}
body .bg-login .container-login .card-login .return-login:hover {
  border-bottom: 1px solid #a4a4a4;
}
body .bg-login .container-login .card-login .btn-login {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: #415e97;
  color: #414141;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  border: 2px solid #415e97;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 2px 2px 17px -6px rgb(109, 129, 231);
}
body .bg-login .container-login .card-login .btn-login:hover {
  transition: 0.3s ease;
  transform: translateY(-1px);
}
body .bg-login .container-login .card-login .theme-toggle {
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  body .bg-login .container-login .card-login .theme-toggle {
    display: none;
  }
}
body .bg-login .container-login .card-login .theme-toggle #checkbox {
  display: none;
}
body .bg-login .container-login .card-login .theme-toggle .toggler {
  display: block;
  width: 60px;
  height: 32px;
  border: 3px solid #415e97;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
body .bg-login .container-login .card-login .theme-toggle .ball,
body .bg-login .container-login .card-login .theme-toggle .sun,
body .bg-login .container-login .card-login .theme-toggle .moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body .bg-login .container-login .card-login .theme-toggle .ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #415e97;
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
body .bg-login .container-login .card-login .theme-toggle i {
  font-size: 1.3rem;
  font-weight: 500;
  color: #415e97;
}
body .bg-login .container-login .card-login .theme-toggle .sun {
  left: 5px;
}
body .bg-login .container-login .card-login .theme-toggle .moon {
  right: 5px;
}
body .bg-login .container-login .card-login .theme-toggle #checkbox:checked + .ball {
  transform: translate(27px, -50%);
}
body footer {
  width: 100%;
  height: auto;
  background-color: #0b1323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  gap: 40px;
}
body footer img {
  width: auto;
  height: 100px;
}
body footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 500px) {
  body footer ul {
    flex-direction: column;
    gap: 20px;
  }
}
body footer ul a {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}
body footer .social-network {
  display: flex;
  gap: 20px;
  align-items: center;
}
body footer .social-network a {
  font-size: 1.5rem;
  color: #ffffff;
}
body footer h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #a4a4a4;
  text-align: center;
}
body footer h2 span {
  color: #415e97;
}
body .scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #415e97;
  opacity: 0.8;
  padding: 0.3rem;
  border-radius: 0.4rem;
  z-index: 200;
  transition: 0.4s;
}
body .scrollup:hover {
  background-color: #7894cd;
}
body .scrollup-icon {
  font-size: 1.5rem;
  color: #414141;
}
body .show-scroll {
  bottom: 5rem;
}
body .wrapper {
  position: fixed;
  inset: 0;
  z-index: 9998;
  background: #1b1f31;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: opacity 0.25s;
}
body .wrapper.fade {
  opacity: 0;
  visibility: hidden;
}
body .wrapper span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #415e97;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
body .wrapper span:nth-child(1) {
  animation-delay: 0.1s;
}
body .wrapper span:nth-child(2) {
  animation-delay: 0.2s;
}
body .wrapper span:nth-child(3) {
  animation-delay: 0.3s;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #415e97;
  }
  50% {
    transform: translateY(50px);
    background-color: #415e97;
  }
  100% {
    ransform: translateY(0px);
    background-color: #415e97;
  }
}/*# sourceMappingURL=styles_dark.css.map */